<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./style.css">

</head>

<body>

    <header class="header">
        <a href="/">Logo</a>
        <nav>
            <ul class="menu">
                <li><a href="/">Sobre</a></li>
                <li><a href="/">Produtos</a></li>
                <li><a href="/">Contato</a></li>
            </ul>
        </nav>
    </header>

    <h1>Gallery</h1>

    <section class="gallery">
        <div>
            <image src="../assets/Rio.jpg" />
            <p>Rio de Janeiro</p>
        </div>
        <div>
            <image src="../assets/Rio.jpg" />
            <p>Rio de Janeiro</p>
        </div>
        <div>
            <image src="../assets/Rio.jpg" />
            <p>Rio de Janeiro</p>
        </div>
        <div>
            <image src="../assets/Rio.jpg" />
            <p>Rio de Janeiro</p>
        </div>
        <div>
            <image src="../assets/Rio.jpg" />
            <p>Rio de Janeiro</p>
        </div>
        <div>
            <image src="../assets/Rio.jpg" />
            <p>Rio de Janeiro</p>
        </div>
    </section>


</body>

</html>