<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./style.css">

</head>

<body>

    <header class="header">
        <a href="/">Logo</a>
        <nav>
            <ul class="menu">
                <li><a href="/">Sobre</a></li>
                <li><a href="/">Produtos</a></li>
                <li><a href="/">Contato</a></li>
            </ul>
        </nav>
    </header>

    <h1>News</h1>

    <section class="portal">

        <!--MAJOR CONTENT-->
        <div>
            <image src="../assets/Rio.jpg" />
            <p>Major 1</p>
        </div>
        <div>
            <image src="../assets/Rio.jpg" />
            <p>Major 2</p>
        </div>
        <div>
            <image src="../assets/Rio.jpg" />
            <p>Major 3</p>
        </div>

        <!--SECONDARY CONTENT-->
        <div>
            <image src="../assets/Rio.jpg" />
            <p>Secondary 1</p>
        </div>
        <div>
            <image src="../assets/Rio.jpg" />
            <p>Secondary 2</p>
        </div>
        <div>
            <image src="../assets/Rio.jpg" />
            <p>Secondary 3</p>
        </div>

        <div>
            <image src="../assets/Rio.jpg" />
            <p>Secondary 4</p>
        </div>
        <div>
            <image src="../assets/Rio.jpg" />
            <p>Secondary 5</p>
        </div>
        <div>
            <image src="../assets/Rio.jpg" />
            <p>Secondary 6</p>
        </div>

        <!--ADVERTISING CONTENT-->
        <div class="advertising">
            <p>Looking for a talent?</p>
        </div>

    </section>


</body>

</html>